---
layout: default
disqus: false
archive: false
post_class: post-template
---
<head>
    <!-- Other head elements -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="{{ '/assets/js/style.css' | prepend: site.baseurl }}">

    <!-- <h1 class="posttitle">{{ page.title }}</h1> -->
  </head>
  
<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post -->
        <div class="col-md-12"> <!-- Updated to full width -->
            <div class="mainheading">

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            <!-- Post Featured Image -->
            {% if page.image %}
            <!-- <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}"> -->
            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                {{ content }}
            </div>

            <!-- Post Date -->
            <!-- <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>
            </small>
            </p> -->

            <!-- Post Categories -->
            <div class="after-post-cats">
                <ul class="tags">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Categories -->

            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->

        <!-- <script src="{{ '/_posts/displayData.js' | prepend: site.baseurl }}"></script> -->
        <script src="{{ '/assets/js/displayData.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/crypto_bar_chart.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/bubble-chart.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/agency.js' | prepend: site.baseurl }}"></script>
        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->
